* {
  margin: 0%;
}
.conteiner-info {
  height: 100vh;
}
.App {
  margin: 0 auto;
  max-width: 1024px;
  padding: 1rem;
}
.textInfo {
  margin-top: 4rem;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  max-width: 500px;
}
.name {
  font-size: 32px;
}
.containerphoto {
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(0, 250, 250) 100%);
  width: 22rem;
  height: 22rem;
  position: absolute;
  left: 50%;
  bottom: 3%;
  transform: translate(-50%);
  border-radius: 50%;
  overflow: hidden;
  /* border-radius: 50% ;  
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(250, 0, 125) 100%); */
  object-fit: contain;
  filter: drop-shadow(0px 0px 20px rgb(0, 255, 234));
}
.photo {
  display: block;
  width: 100%;
  object-fit: cover;
  /* border-radius: 50%;
    width: 352px;
    object-fit: contain; */
}

/* LINKS*/
.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  bottom: 3rem;
}
.header__socials::after {
  content: "";
  width: 1px;
  height: 2rem;
  background-color: yellow;
}
.header__socials a {
  color: yellow;
}
.header__socials a:hover {
  color: rgb(253, 253, 168);
  filter: drop-shadow(0px 0px 10px rgb(255, 230, 0));
}

/* Buttoms Home */
.Buttoms {
  margin-top: 1rem;
}
.Buttoms a {
  cursor: pointer;
  background-color: rgb(5, 184, 184);
  padding: 0.5rem;
  border-radius: 5px;
  color: white;
}
.Buttoms a:hover {
  filter: drop-shadow(0px 0px 10px rgb(12, 239, 255));
  color: white;
}
.btn2 {
  margin-left: 1rem;
}

/* SKILLS CONTAINER */
.skillContainer img {
  width: 100px;
}
